{% extends '_partials/base.html.twig' %}
{% block title %}Hello world, Gulp Starter Kit{% endblock %}
{% block body %}
  <div>
    <h1>Hello world, Gulp Starter Kit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto fugit optio temporibus sunt excepturi necessitatibus, possimus aliquid vel aliquam, similique recusandae debitis! Cumque perferendis hic est doloribus veniam laboriosam?</p>
  </div>
{% endblock %}
